Icon-macOS-128x128@1x.png
Icon-macOS-128x128@2x.png
Icon-macOS-16x16@1x.png
Icon-macOS-16x16@2x.png
Icon-macOS-256x256@2x.png
Icon-macOS-32x32@1x.png
Icon-macOS-32x32@2x.png
Icon-macOS-512x512@1x.png
Icon-macOS-512x512@2x.png